@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey700: hsl(0, 0%, 20%);
--Grey800: hsl(0, 0%, 12%);
--Grey900: hsl(0, 0%, 8%);
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--Grey900);
    color: var(--White);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
}

.container{
    background-color: var(--Grey800);
    max-width: 24rem;
    min-width: 24rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;

}

.container img{
    width:25%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    border-radius: 5rem;
}
 .container h1{
    margin-bottom: 0.4rem;
 }


 .UK{
    color: var(--Green);
    font-weight: 600;
    margin-bottom: 2rem;
 }
 .tezt-1{
    margin-bottom: 1.6rem;
 }

 .profiles{
    background-color: var(--Grey700);
    margin: 0.8rem 2rem;
    padding: 0.9rem;
    border-radius: 0.625rem;
    font-weight: 700;
 }
 .profiles:hover{
   background-color: var(--Grey900);
   color: var(--Green);
   cursor: pointer;
 }
 .dummy{
    margin: 2.1rem;
 }





.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }